    <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <b>Folio:</b> 
                    <input type="text" id="inputFolio" class="form-control input-sm">
                </div>
                <div class="col-md-3">                    
                </div>
                <div class="col-md-3">
                    <b>Fecha:</b>
                    <input type="date" id="inputFechaFolio" class="form-control input-sm">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="radio-inline">
                        <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="contratista" checked>Contratista </label>
                    </div>
                    <div class="radio-inline">
                        <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="empleado">Empleado</label>
                    </div>
                    <div class="radio-inline">
                        <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="proveedor">Proveedor</label>
                    </div>
                    <div class="radio-inline">
                        <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="tercero">Tercero</label>
                    </div>
                    <div class="radio-inline">
                        <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="otro">Otro</label>
                    </div>
                </div>                
            </div>
            <br>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <b>Personal:</b> 
                    <input type="text" id="inputNombrePersonal" class="form-control input-sm">
                </div>
                <div class="col-md-3">
                    <b>RPE:</b> 
                    <input type="text" id="inputRPE" class="form-control input-sm">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <b>Cantidad:</b> 
                    <input type="text" id="inputCantidad" class="form-control input-sm">
                </div>
                <div class="col-md-3">
                    <b>IVA 16%:</b> 
                    <input type="text" id="inputIVA" class="form-control input-sm">
                </div>
                <div class="col-md-3">
                    <b>Moneda:</b> 

                    <select class="form-control" id="comboMoneda">
                        <option value="MXN">MXN</option>
                        <option value="USD">USD</option>
                        <option></option>
                    </select>

                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <b>Importe en letra:</b> 
                    <input type="text" id="inputImporteLetra" class="form-control input-sm">
                </div>               
            </div>            
            <br>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <b>Concepto:</b> 
                    <textarea class="form-control" id="textConcepto"></textarea>
                </div>
                <div class="col-md-5">
                    <b>Observaciones:</b> 
                    <textarea class="form-control" id="Observaciones"></textarea>
                </div>
                <div class="col-md-2">
                    <br>
                    <input type="button" value="Guardar" id="btnGuardarOrden" class="btn btn-success btn-lg">
                </div>
            </div>        
